* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #011553;
}

/*      Header      */

.menu {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.menu-items {
  display: flex;
  margin-right: 30px;
  font-size: 16px;
}

.subMenu-items {
  display: none;
  position: absolute;
  background-color: white;
  padding-top: 21px;
  border-radius: 3px;
  text-align: left;
  z-index: 10;
}

.menu-items li:hover > ul {
  display: block;
}

.margin-rigth {
  margin-right: 10px;
}

.menu-items li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 7px 10px;
  font-weight: 600;
  cursor: pointer;
  z-index: 1000;
}

.menu-items li {
  transition: .4s;
}

.subMenu-items li a {
  padding: 5px 5px;
  margin: 0px;
  margin-bottom: 10px;
}

.menu-items li:hover, li.active {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 2px;
  transition: .4s;
}

.nav-logo {
  margin: 0 40px;
  width: 150px;
}

.menu-btn {
  margin-right: 30px;
  font-size: 25px;
  color: black;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 49px;
  z-index: 10;
}

@media (max-width: 952px){
  .menu-items li a {
    font-size: 16px;
  }
}

@media (max-width: 1130px) {
  .menu-btn {
    display: inline-flex;
  }
  .menu-items {
    position: absolute;
    width: 100vw;
    height: calc(100% - 65px);
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
    z-index: 900;
  }
  .menu-items li {
    margin: 15px 0 0 0;
    line-height: 30px;
  }
  .menu-items li:hover {
    background: none;
  }
  .menu-items li a {
    font-size: 20px;
    color: #fff;
  }
  .menu-items li a:hover {
    color: cornflowerblue;
  }
  .menu {
    height: 50px;
  }
  .nav-logo {
    margin-left: 15px;
    padding-top: 5px;
    width: 115px;
  }
  .menu-items li:hover > ul {
  display: none;
  }
}

@media (max-width: 885px) and (orientation: landscape){
  .menu-items li {
    margin: 15px 0 0 0;
  }
  .menu-items {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}

/*      Map      */

.map-container {
  height: 440px;
}

.map-title {
  text-align: center;
  margin-top: 35px;
  color: #fff;
}

.map {
    display: block;
    height: 250px;
    width: 250px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.address {
  color: #fff;
}

@media (min-width: 495px){
  .map {
    height: 300px;
    width: 400px;
  }
  .map-container {
    height: 490px;
  }
}

.address {
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 680px){
  .map {
    height: 350px;
    width: 450px;
  }
  .map-container {
    height: 540px;
  }
}

@media (min-width: 760px){
  .map {
    height: 400px;
    width: 500px;
  }
  .map-container {
    height: 590px;
  }
}

@media (min-width: 1023px){
  .map {
    height: 450px;
    width: 650px;
  }
  .map-container {
    height: 650px;
  }
}

/*      Footer      */

footer {
  background-color: lightgray;
  padding: 20px 0 10px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-item {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 5px;
}

.footer-title {
  margin-bottom: 20px;
}

.footer-img {
  width: 30px;
}

.footer-ubi {
  margin-top: 20px;
}

.copyrigth {
  margin-top: 20px;
  font-weight: 700;
  font-size: 13px;
}